@font-face {
    font-family: Le_Murmure;
    src: url(../fonts/Le_Murmure-Regular_web.ttf);
    src: url(../fonts/le-murmure.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-grid: #42AAFF;
    --background-footer: #b8d7e6;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: Le_Murmure, serif;
    height: 100%;
    background-color: var(--background-grid);
}

header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

h1 {
    font-size: 10rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex: 1 1 auto;

    margin-top: 50px;
}

.gridUser, .gridBot {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.nameBot, .nameUser {
    font-size: 3rem;
}

.cell {
    border: 1px solid black;
    cursor: pointer;
}

.gridBot > .cell:hover {
    background-color: #a6d4fa;
}

.whole {
    border: 1px solid black;
    background-color: #1b6c7a;
}

.miss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miss::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}


.wrecked {
    border: 1px solid black;
    background-color: #e05454;
}

.destroyer {
    border: 1px solid black;
    background: repeating-linear-gradient(
    30deg,
    #e05454,
    #e05454 3px,
    #000 3px,
    #000 6px
    );
}

footer{
    flex: 0 0 auto;
    background-color: var(--background-footer);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 0;
}

.link_footer{
    text-decoration: none;
    color:#000;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.img_footer{
    width: 35px;
    transition: .5s ease-in-out;
}

.img_footer:hover {
    scale: 1.2; 
}